body {
  overflow: hidden;
}

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.grid-item:nth-child(1) {
  width: 15vw;
}

.grid-item:nth-child(2) {
  width: 85vw;
}

.sidebar {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fefaf615;
}

.sidebar > a {
  color: #f6f5f2;
  width: 90%;
  padding: 1vh;
  margin: 4vh;
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  transition: all linear 0.3s;
}

.sidebar > a:hover {
  border-radius: 10px;
  background-color: #212c42;
  transition: all linear 0.3s;
}

.sidebar > a > .material-symbols-outlined {
  font-size: 1.5rem;
  margin: 1vh;
}

.main-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

table {
  margin: 3%;
  width: 95%;
  margin-top: 10vh;
}

th,
td {
  text-align: center;
  max-width: 175px;
}

.grid {
  margin: 10px;
}

button {
  border: 0;
  padding: 10px;
}

.warning {
  background-color: #e12e1e;
}
